::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 0px;
}

.navigationBox {
  overflow: hidden;
}

.navigationBox:hover {
  overflow-y: auto;
}

.flexCen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexJust {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
